$bg: #383d4f;
$btn:#e4ae00;
$title:#ffffff;
$selection: #ff4d30;
$text: #c1c1c6;
$section_bg: #1c1e2a;
$bg-img:  url('../img/m-h-night.jpg') center center /cover no-repeat;
$gradient: linear-gradient(45deg, #e2ab00,#952a50) ;

