$bg: #1c1e2a;
$btn:#699a00;
$title:#282b39;
$selection: #0ca1c8;
$text: #c1c1c6;
$section_bg: #fff;
$bg-img: url('../img/m-h-day.jpg') center center /cover no-repeat;
$gradient: linear-gradient(45deg, #689900,#2a5bd6) ;