*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Merriweather', serif;
}
.body{
    position: relative;
}
.header_up_block{
    background-color: #fff;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    top: 0;
    left: 0;
    color: #777 ;
}
.header_logo{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.header_link{
    font-size: 18px;
    color: #777 ;
    text-decoration: none;
    padding: 0 26px;
}
.header_link:hover{
    color: #bfba55;
}
.header_block{
    height: 90vh;
    margin-top: 80px;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), 
    url(../img/home-bg.jpg)  center center /  cover no-repeat ;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header_title{
    color: #fff;
    font-size: 60px;
}
.header_descr{
    color: #bfba55;
    font-size: 16px;
    margin: 20px 0 40px 0;
}
.header_btn{
    color: #777 ;
    background-color: #fff;
    padding: 12px 20px;
    font-size: 14px;
    border: none;
    border-radius: 26px;
    text-transform: uppercase;
}
.header_btn:hover, .section_btn:hover, .footer_descr a:hover{
    cursor:pointer;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 890px;
    margin: 0 5px 80px 5px;
    padding-bottom: 60px;
    border-bottom: 1px solid #777 ;
}
.section:last-child{
    margin-bottom: 0;
    border-bottom: 0;
}
.section_title{
    margin-top: 40px;
    font-size: 26px;
}
.section_img{
    width: 100%;
}
.section_signature{
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    color: #777;
    font-family: serif;
}
.signature_name, .signature_date, .signature_comments, .footer_descr address, .footer_descr a{
    font-family: serif;
    font-style: normal;
}
.signature_img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: -15px;
}
.section_descr{
    margin-top: 24px;
    color: #777;
    line-height: 28px;
}
.section_btn{
    font-size: 14px;
    color: #777 ;
    background-color:#fff;
    border: 1px solid #777 ;
    border-radius: 26px ;
    font-weight: bold;
    padding: 16px 26px;
    margin-top: 36px;
}
.footer{
    background-color: #000;
    height: 350px;
}

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:#777;
}
.footer_left{
    width: 450px;
    min-height: 170px;
}
.footer_right{
    width: 340px;
    min-height: 170px;
}
.footer_title{
    color: #fff;
    margin-bottom: 24px;
}
.footer_descr{
    line-height: 28px;
    margin-bottom: 24px;
}
.footer_descr a{
    display: block;
    color: #777;
    text-decoration: none;
}
