.navbar {
  padding: 0;
  margin-bottom: 20px;
}
.nav-link {
  color: #666;
  font-size: 18px;
}
.active {
  background-color: #2A74BF;
  color: #fff !important;
}
.title {
  color: #2A74BF;
}
hr {
  width: 100%;
  height: 1px;
  background-color: #2A74BF;
  margin: 0 0 20px 0;
}
.main {
  margin-top: 40px;
}
.description__img {
  padding-right: 20px !important;
}
.cards {
  display: flex;
  justify-content: space-between;
}
.card {
  width: 210px;
  height: 165px;
  margin: 10px 0;
  padding: 1px;
  text-align: center;
  color: #fff;
  border-radius: 0;
}
.card__img {
  width: 206px;
}
.card__title {
  margin: auto;
  font-weight: bold;
}
.card_red {
  background-color: #D7514C;
}
.card_blue {
  background-color: #2A74BF;
}
.card_orange {
  background-color: #D8C11D;
}
.card_green {
  background-color: #4D944B;
}
.footer {
  color: #fff;
  margin-top: 40px;
}
@media (max-width: 991.98px) {
  .description__img {
    padding-right: 0 !important;
  }
}
@media (max-width: 576px) {
  .container {
    width: 95%!important;
  }
  .cards {
    justify-content: center;
  }
  .card {
    margin: 10px 10px;
  }
}
